body {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a9bceef5-fb82-4136-bd80-c9db22b12dc7/d2hihx9-d386050f-c9ff-4b0f-9099-2ed02a07278b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E5YmNlZWY1LWZiODItNDEzNi1iZDgwLWM5ZGIyMmIxMmRjN1wvZDJoaWh4OS1kMzg2MDUwZi1jOWZmLTRiMGYtOTA5OS0yZWQwMmEwNzI3OGIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PBbFUsTnTRt2nAlKhdIqVOuX84JLuN0VEvszqb-kFHo');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 50px;
}
.link-container > a {
    display: block;
    width: 70%;
    margin: 30px auto;
}

.section-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.topic-image {
  width: 100%;
  height: auto;
}

.topic-container > a {
  color: white;
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid white;
  border-radius: 5px;
  height: 100%;
}

a >  h3 {
  background-color: #0A7DFA;
  padding: 10px;
  width: 100%;
}

.description {
  margin: 20px 0;
  font-size: 1.5em;
}

.topic-container > a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.70;
}

@media only screen and (min-width: 768px) and (min-height: 1024px){
  body {
    height: 1500px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-container {
    margin: 50px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .topic-container {
    width: 30%;
  }

  .topic-image {
    height: 300px;
  }
}
