* {
    box-sizing: border-box;
  }

  header > h1 {
    background-color: salmon;
    border: 1px solid black;
    padding: 0 10px;
  }
  
  body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
  }

  section > h3 {
    font-size: 22px;
    margin-top: 20px;
  }

  .top-header {
    padding: 50px 0 30px 0;
    background-image: url('https://wallpaperplay.com/walls/full/e/0/a/54074.jpg');
    margin-bottom: 30px;
  }

  .date-box {
    margin: 20px;
  }
  
  .image {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  .submit-btn {
      margin-bottom: 20px;
  }

  h4 {
      margin: 20px 0;
      color: grey;
  }

  .mars-image {
    width: 200px;
    height: 200px;
    margin: 5px;
  }

  .apod-container {
    background-color: black;
    color: white;
  }
  .mars-image-container {
    background-color: black;
  }

  .individual-rover {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .rover-container {
    border: 1px solid black;
    border-radius: 5px;
  }

  .rover-image {
    width: 400px;
    height: 300px;
  }

  .rover-container > ul {
    list-style-type: none;
    padding: 0 10px;
  }

  